body {
    margin: 0;
    padding: 0;
    font-family: Verdana;
    font-size: 12px;
    background-color: #F3F3FF;
}

.manageTitle {
    background-color: #F3F3FF;
    border-bottom: 2px solid #D2D2FF;
    color: #424242;
    font-family: Arial;
    font-size: 24px;
    margin: 0;
    padding: 10px;
}

.footer {
    background-color: #F3F3FF;
    border-top: 2px solid #D2D2FF;
    padding: 10px 0;
}

#mainTabs {
    background: none repeat scroll 0 0 white;
}

.settingField {
    font-weight: bold;
    padding: 4px 10px;
    border: 1px solid #CCCCCC;
    color: #1C94C4;
}


.grayed_desc {
    font-style: italic;
    color: #525252;
    font-size: 11px;
    padding: 2px 0 0 20px;
}

.tbColor {
    width: 80px;
}

.tbNumber {
    width: 60px;
}

.btnPane {
    margin: 6px 60px 0 0; 
    padding: 5px 40px; 
    float:right;
}

.btnPane button {
    padding: 4px 8px;
    margin-left: 10px;
}

#slides {
    margin: 0px;
    padding: 0px;
}

#slides li.slideRoot {
    border: 1px solid #C2C2C2;
    display: block;
    margin: 4px;
    /*background-color: #FFFBE7;*/
    height: 126px;
    background-color: White;
    min-width: 900px;
}

.slideTabs {
    
}

.slideTabs li {
}


#slides .dragHandle {
    float: left;
    height: 100%;
    font-size: 10px;
    font-style: italic;
    color: #525252;
    width: 32px;
    background-color: #F7AE31;
    border-right: 1px solid #c2c2c2;
    cursor: move;
}

#slides .slideIndex {
    font-size: 30px;
    font-weight: bold;
    color: #424242;
}

#slides .slidePlaceholder {
    height: 80px;
    background-color: #f6e1bc;
    display: block;
}

#slides .pnlSlideOptGroups {
    float: left;
    padding: 0 0 0 16px;
    background-color: #f2f2ff;
    height: 100%;
    border-right: 1px solid #C2C2C2;
    width: 135px;
}


.slideOptsGroup {
    display: block;
    width: 120px;
    padding: 2px 10px;
    text-decoration: none;
    font-size: 12px;
    margin: 4px 0px 4px 4px;
    outline: 0px;
}

.pnlSlideOptGroups .ui-state-default {
    background: white;
}

.pnlSlideOptGroups .ui-state-hover {
    /*margin-left: 6px;
    border-right: 0px !important;*/
    width: 130px;
}

.pnlSlideOpts {
    float: left;
    display: none;
    margin: 0 40px;
}

.pnlSlideExtra {
    float: right;
    background-color: #f2f2ff;
    height: 100%;
    border-left: 1px solid #C2C2C2;
}

.slideExtraBtn {
    margin: 2px 8px;
    width: 80px;
}

.slideExtraBtn .ui-button-text {
    font-size: 12px;
    padding: 2px 7px;
}

.fieldRow {
    float: left;
    margin: 1px 10px 1px 0;
    padding: 0 4px;
    color: #1C94C4;
}

.pnlSlideOptsGeneral {
    margin-top: 15px;
}
