<?xml version="1.0" encoding="utf8"?>
<presentation>

	<setup>
		<slideWidth>400</slideWidth>
		<slideHeight>200</slideHeight>
		
		<advancePresentation>
			<timing>false</timing>
			<manual>
				<click>
					<enabled>true</enabled>
					<completeObjectTransitions>true</completeObjectTransitions>
				</click>
			</manual>
		</advancePresentation>
		
		<debug>
			<showTitles>true</showTitles>
		</debug>
		
	</setup>
	
	<slides>
		
		<slide>
			<title>No animation</title>			
			<objects>
				<object>
					<objType>graphic</objType>
					<src>../../.res/square-red.png</src>
					<props>
						<x>20</x>
					</props>
				</object>
				<object>
					<objType>graphic</objType>
					<src>../../.res/triangle-green.png</src>
					<props>
						<x>150</x>
					</props>
				</object>
				<object>
					<objType>graphic</objType>
					<src>../../.res/circle-blue.png</src>
					<props>
						<x>280</x>
					</props>
				</object>
			</objects>
		</slide>
		
		<slide>
			<title>Rotate each around one axis (Z, X, Y) for 10 seconds</title>			
			<objects>
				<object>
					<objType>graphic</objType>
					<src>../../.res/square-red.png</src>
					<props>
						<x>20</x>
					</props>
					<animations>
						<animation>
							<prop>rotationZ</prop>
							<duration>10000</duration>
							<to>1440</to>
						</animation>
					</animations>
				</object>
				<object>
					<objType>graphic</objType>
					<src>../../.res/triangle-green.png</src>
					<props>
						<x>150</x>
					</props>
					<animations>
						<animation>
							<prop>rotationX</prop>
							<duration>10000</duration>
							<to>1440</to>
						</animation>
					</animations>
				</object>
				<object>
					<objType>graphic</objType>
					<src>../../.res/circle-blue.png</src>
					<props>
						<x>280</x>
					</props>
					<animations>
						<animation>
							<prop>rotationY</prop>
							<duration>10000</duration>
							<to>1440</to>
						</animation>
					</animations>
				</object>
			</objects>
		</slide>
		
		<slide>
			<title>Scale Objects</title>			
			<objects>
				<object>
					<objType>graphic</objType>
					<src>../../.res/square-red.png</src>
					<props>
						<x>20</x>
					</props>
					<animations>
						<animation>
							<prop>scaleX</prop>
							<start>0</start>
							<duration>3000</duration>
							<to>0.5</to>
							<easing>Back.easeIn</easing>
						</animation>
					</animations>
				</object>
				<object>
					<objType>graphic</objType>
					<src>../../.res/triangle-green.png</src>
					<props>
						<x>150</x>
					</props>
					<animations>
						<animation>
							<prop>scaleY</prop>
							<start>1000</start>
							<duration>3000</duration>
							<to>0.5</to>
							<easing>Elastic.easeOut</easing>
						</animation>
					</animations>
				</object>
				<object>
					<objType>graphic</objType>
					<src>../../.res/circle-blue.png</src>
					<props>
						<x>280</x>
					</props>
					<animations>
						<animation>
							<prop>scaleX</prop>
							<start>2000</start>
							<duration>3000</duration>
							<to>0.5</to>
							<easing>Regular.easeOut</easing>
						</animation>
						<animation>
							<prop>scaleY</prop>
							<start>2000</start>
							<duration>3000</duration>
							<to>0.5</to>
							<easing>Bounce.easeOut</easing>
						</animation>
					</animations>
				</object>
			</objects>
		</slide>
		
		<slide>
			<title>Simple Scenario</title>			
			<objects>
				<object>
					<objType>graphic</objType>
					<src>../../.res/square-red.png</src>
					<props>
						<x>20</x>
					</props>
					<animations>
						<animation>
							<prop>scaleX</prop>
							<start>0</start>
							<duration>2000</duration>
							<to>4</to>
							<easing>Strong.easeOut</easing>
						</animation>
						<animation>
							<prop>x</prop>
							<start>1000</start>
							<duration>4000</duration>
							<to>400</to>
							<easing>Back.easeIn</easing>
						</animation>
					</animations>
				</object>
				<object>
					<objType>graphic</objType>
					<src>../../.res/circle-blue.png</src>
					<props>
						<x>0</x>
						<alpha>0</alpha>
					</props>
					<animations>
						<animation>
							<prop>alpha</prop>
							<start>1000</start>
							<duration>1000</duration>
							<to>0.8</to>
							<easing>Strong.easeOut</easing>
						</animation>
						<animation>
							<prop>x</prop>
							<start>2000</start>
							<duration>3000</duration>
							<to>400</to>
							<easing>Regular.easeOut</easing>
						</animation>
						<animation>
							<prop>scaleX</prop>
							<start>2000</start>
							<duration>3000</duration>
							<to>0.1</to>
							<easing>Regular.easeOut</easing>
						</animation>
						<animation>
							<prop>scaleY</prop>
							<start>2000</start>
							<duration>3000</duration>
							<to>0.1</to>
							<easing>Bounce.easeOut</easing>
						</animation>
					</animations>
				</object>
			</objects>
		</slide>
		
	</slides>
	
</presentation>
