<?xml version="1.0" encoding="utf8"?>
<presentation>

	<setup>
		<slideWidth>400</slideWidth>
		<slideHeight>200</slideHeight>
		<advancePresentation>
			<timing>
				<enabled>true</enabled>
				<autostart>true</autostart>
				<defaultTiming>5000</defaultTiming>
			</timing>
			<manual>
				<click>true</click>
			</manual>
		</advancePresentation>
		<debug>
			<showTitles>true</showTitles>
		</debug>
	</setup>
	
	<slides>
		
		<slide>
			<title>Red Slide, click or wait 5 seconds to go to next</title>
			<background>
				<bgType>solid</bgType>
				<color>0xFF0000</color>
			</background>
		</slide>
		
		<slide>
			<title>Blue Slide, click or wait 5 seconds to go back to first</title>
			<background>
				<bgType>solid</bgType>
				<color>0x0000FF</color>
			</background>
		</slide>
		
	</slides>
	
</presentation>
