
/avt.DynamicFlashRotator.Dnn/ManageRotatorBase.ascx
/Test.WebApplication/Controls
/avt.DynamicFlashRotator.Dnn/res

**/bin/**
**/**/bin/**
**/**/**/bin/**
**/**/**/**/bin/**
**/**/**/**/**/bin/**
**/obj/**
**/**/obj/**
**/**/**/obj/**
**/**/**/**/obj/**
**/**/**/**/**/obj/**

*.suo
*.user

Flash.Presenter/!lib
/Flash.Presenter/Presenter.swf
/Flash.Presenter/.release

.build/package-files
.build/log.txt