
/avt.DynamicFlashRotator.Dnn/ManageRotator.aspx
/Test.WebApplication/Controls
/avt.DynamicFlashRotator.Dnn/res

**/bin/**
**/**/bin/**
**/**/**/bin/**
**/**/**/**/bin/**
**/**/**/**/**/bin/**
**/obj/**
**/**/obj/**
**/**/**/obj/**
**/**/**/**/obj/**
**/**/**/**/**/obj/**

*.suo
*.user

