<?xml version="1.0" encoding="utf8"?>
<presentation>

	<setup>
		<slideWidth>400</slideWidth>
		<slideHeight>200</slideHeight>
		
		<advancePresentation>
			<timing>
				<enabled>true</enabled>
				<defaultTiming>3000</defaultTiming>
			</timing>
		</advancePresentation>
		
		<debug>
			<showTitles>true</showTitles>
		</debug>
		
	</setup>
	
	<slides>
		
		<slide>
			<title>No transition</title>			
			<objects>
				<object>
					<objType>graphic</objType>
					<src>../../../test-data/square-red.png</src>
					<props>
						<x>20</x>
					</props>
				</object>
				<object>
					<objType>graphic</objType>
					<src>../../../test-data/triangle-green.png</src>
					<props>
						<x>150</x>
					</props>
				</object>
				<object>
					<objType>graphic</objType>
					<src>../../../test-data/circle-blue.png</src>
					<props>
						<x>280</x>
					</props>
				</object>
			</objects>
		</slide>
		
		<slide>
			<title>Enter with Fly, leave with no effect</title>
			<duration>4000</duration>
			
			<objects>
				
				<object>
					<objType>graphic</objType>
					<src>../../../test-data/square-red.png</src>
					<props>
						<x>20</x>
					</props>
					<enterScene>
						<transitions>
							<transition>
								<transition>Fly</transition>
								<duration>1000</duration>
								<easing>Strong.easeOut</easing>
								<startPoint>left</startPoint>
							</transition>
						</transitions>
					</enterScene>
				</object>
				
				<object>
					<objType>graphic</objType>
					<src>../../../test-data/triangle-green.png</src>
					<props>
						<x>150</x>
					</props>
					<enterScene>
						<atTime>1000</atTime>
						<transitions>
							<transition>
								<transition>Fly</transition>
								<duration>1500</duration>
								<easing>Bounce.easeOut</easing>
								<startPoint>top</startPoint>
							</transition>
						</transitions>
					</enterScene>
				</object>
				
				<object>
					<objType>graphic</objType>
					<src>../../../test-data/circle-blue.png</src>
					<props>
						<x>280</x>
					</props>
					<enterScene>
						<atTime>2000</atTime>
						<transitions>
							<transition>
								<transition>Fly</transition>
								<duration>1500</duration>
								<easing>Strong.easeOut</easing>
								<startPoint>top-right</startPoint>
							</transition>
						</transitions>
					</enterScene>
				</object>
			</objects>
		</slide>
		
		<slide>
			<title>Enter with Fade, leave with PixelDissolve</title>
			<duration>7000</duration>
			
			<objects>
				
				<object>
					<objType>graphic</objType>
					<src>../../../test-data/square-red.png</src>
					<props>
						<x>20</x>
					</props>
					<enterScene>
						<transitions>
							<transition>
								<transition>Fade</transition>
								<duration>1000</duration>
								<easing>Strong.easeOut</easing>
							</transition>
						</transitions>
					</enterScene>
					<leaveScene>
						<transitions>
							<transition>
								<transition>PixelDissolve</transition>
								<duration>1000</duration>
								<easing>Strong.easeOut</easing>
							</transition>
						</transitions>
					</leaveScene>
				</object>
				
				<object>
					<objType>graphic</objType>
					<src>../../../test-data/triangle-green.png</src>
					<props>
						<x>150</x>
					</props>
					<enterScene>
						<atTime>1000</atTime>
						<transitions>
							<transition>
								<transition>Fade</transition>
								<duration>1500</duration>
								<easing>Bounce.easeOut</easing>
							</transition>
						</transitions>
					</enterScene>
					<leaveScene>
						<transitions>
							<transition>
								<transition>PixelDissolve</transition>
								<duration>1500</duration>
								<easing>Bounce.easeOut</easing>
								<xSections>30</xSections>
								<ySections>30</ySections>
							</transition>
						</transitions>
					</leaveScene>
				</object>
				
				<object>
					<objType>graphic</objType>
					<src>../../../test-data/circle-blue.png</src>
					<props>
						<x>280</x>
					</props>
					<enterScene>
						<atTime>2000</atTime>
						<transitions>
							<transition>
								<transition>Fade</transition>
								<duration>2000</duration>
								<easing>Strong.easeOut</easing>
							</transition>
						</transitions>
					</enterScene>
					<leaveScene>
						<transitions>
							<transition>
								<transition>PixelDissolve</transition>
								<duration>2000</duration>
								<easing>Strong.easeOut</easing>
								<xSections>12</xSections>
								<ySections>6</ySections>
							</transition>
						</transitions>
					</leaveScene>
				</object>
				
			</objects>
		</slide>
		
		<slide>
			<title>Enter with Fly + Photo, leave with Zoom + Rotate</title>
			<duration>7000</duration>
			<objects>
				
				<object>
					<objType>graphic</objType>
					<src>../../../test-data/square-red.png</src>
					<props>
						<x>20</x>
					</props>
					<enterScene>
						<transitions>
							<transition>
								<transition>Fly</transition>
								<duration>1500</duration>
								<easing>Strong.easeOut</easing>
								<startPoint>left</startPoint>
							</transition>
							<transition>
								<transition>Photo</transition>
								<duration>1500</duration>
								<easing>Strong.easeOut</easing>
							</transition>
						</transitions>
					</enterScene>
					<leaveScene>
						<transitions>
							<transition>
								<transition>Rotate</transition>
								<duration>1500</duration>
								<easing>Strong.easeOut</easing>
								<degrees>45</degrees>
							</transition>
							<transition>
								<transition>Zoom</transition>
								<duration>1500</duration>
								<easing>Strong.easeOut</easing>
							</transition>
						</transitions>
					</leaveScene>
				</object>
				
				<object>
					<objType>graphic</objType>
					<src>../../../test-data/triangle-green.png</src>
					<props>
						<x>150</x>
					</props>
					<enterScene>
						<atTime>1000</atTime>
						<transitions>
							<transition>
								<transition>Fly</transition>
								<duration>2000</duration>
								<easing>Bounce.easeOut</easing>
								<startPoint>top</startPoint>
							</transition>
							<transition>
								<transition>Photo</transition>
								<duration>2000</duration>
								<easing>Bounce.easeOut</easing>
							</transition>
						</transitions>
					</enterScene>
					<leaveScene>
						<transitions>
							<transition>
								<transition>Rotate</transition>
								<duration>1500</duration>
								<easing>Back.easeIn</easing>
								<degrees>720</degrees>
							</transition>
							<transition>
								<transition>Zoom</transition>
								<duration>1500</duration>
								<easing>Back.easeIn</easing>
							</transition>
						</transitions>
					</leaveScene>
				</object>
				
				<object>
					<objType>graphic</objType>
					<src>../../../test-data/circle-blue.png</src>
					<props>
						<x>280</x>
					</props>
					<enterScene>
						<atTime>2000</atTime>
						<transitions>
							<transition>
								<transition>Fly</transition>
								<duration>2500</duration>
								<easing>Strong.easeOut</easing>
								<startPoint>right</startPoint>
							</transition>
							<transition>
								<transition>Photo</transition>
								<duration>2500</duration>
								<easing>Strong.easeOut</easing>
							</transition>
						</transitions>
					</enterScene>
					<leaveScene>
						<transitions>
							<transition>
								<transition>Rotate</transition>
								<duration>2500</duration>
								<easing>Strong.easeOut</easing>
								<degrees>360</degrees>
							</transition>
							<transition>
								<transition>Zoom</transition>
								<duration>1000</duration>
								<easing>Strong.easeOut</easing>
							</transition>
						</transitions>
					</leaveScene>
				</object>
				
			</objects>
		</slide>
				
	</slides>
	
</presentation>
