<?xml version="1.0" encoding="utf-8"?>
<settings>
	<stageWidth>950</stageWidth>
	<stageHeight>250</stageHeight>
	<startSlideShow>yes</startSlideShow>
	<useRoundCornersMask>yes</useRoundCornersMask>
	<roundCornerMaskColor>0xffffff</roundCornerMaskColor>
	<showBottomButtons>yes</showBottomButtons>
	<showPlayPauseControls>yes</showPlayPauseControls>
	<fadeColor>0xffffff</fadeColor>
	<showTopTitle>yes</showTopTitle>
	<topTitleBackground>0x000000</topTitleBackground>
	<topTitleBgTransparency>70</topTitleBgTransparency>
	<topTitleTextColor>0xffffff</topTitleTextColor>
	<showTimerBar>yes</showTimerBar>
	<smallButtonsColor>0x121212</smallButtonsColor>
	<smallButtonsNumberColor>0xffffff</smallButtonsNumberColor>
	<smallButtonsType>1</smallButtonsType>
	<smallButtonsXoffset>20</smallButtonsXoffset>
	<smallButtonsYoffset>35</smallButtonsYoffset>
	<transparentBackground>no</transparentBackground>
</settings>
<picturesTransitions>
	<transition theName="Blinds" theEasing="Strong" theStrips="20" theDimension="1"/>
	<trasition ></trasition>
	<transition theName="Fly" theEasing="Strong" theStartPoint="9"/>
	<transition theName="Iris" theEasing="Bounce" theStartPoint="1" theShape="CIRCLE"/>
	<transition theName="Photo" theEasing="Elastic"/>
	<transition theName="PixelDissolve" theEasing="Strong" theXsections="20" theYsections="20"/>
	<transition theName="Rotate" theEasing="Strong" theDegrees="720"/>
	<transition theName="Squeeze" theEasing="Strong" theDimension="1"/>
	<transition theName="Wipe" theEasing="Strong" theStartPoint="1"/>
	<transition theName="Zoom" theEasing="Back"/>
</picturesTransitions>