<?xml version="1.0" encoding="utf8"?>
<presentation>

	<setup>
		<slideWidth>400</slideWidth>
		<slideHeight>200</slideHeight>
		
		<advancePresentation>
			<timing><enabled>false</enabled></timing>
			<manual><click>true</click></manual>
		</advancePresentation>
		<debug>
			<showTitles>true</showTitles>
		</debug>
	</setup>
	
	<slides>
		
		<slide>
			<title>Slide with one graphic object</title>
			<background>
				<bgType>solid</bgType>
				<color>0xF8F091</color>
			</background>
			
			<objects>
				<object>
					<objType>graphic</objType>
					<src>../../.res/square-red.png</src>
				</object>
			</objects>
		</slide>
		
		<slide>
			<title>Slide with same graphic object twice</title>
			<background>
				<bgType>solid</bgType>
				<color>0xCFE7FB</color>
			</background>
			
			<objects>
				<object>
					<objType>graphic</objType>
					<src>../../.res/square-red.png</src>
					<props>
						<x>50</x>
					</props>
				</object>
				<object>
					<objType>graphic</objType>
					<!-- <src>../../.res/circle-blue.png</src> -->
					<src>../../.res/square-red.png</src>
					<props>
						<x>250</x>
					</props>
				</object>
			</objects>
		</slide>
		
		<slide>
			<title>Slide with 3 graphic objects</title>
			<background>
				<bgType>solid</bgType>
				<color>0xF8F091</color>
			</background>
			
			<objects>
				<object>
					<objType>graphic</objType>
					<src>../../.res/square-red.png</src>
					<props>
						<x>50</x>
						<y>30</y>
					</props>
				</object>
				<object>
					<objType>graphic</objType>
					<src>../../.res/square-red.png</src>
					<props>
						<x>250</x>
						<y>30</y>
					</props>
				</object>
				<object>
					<objType>graphic</objType>
					<src>../../.res/triangle-green.png</src>
					<props>
						<x>150</x>
						<y>80</y>
					</props>
				</object>
			</objects>
		</slide>
		
		<slide>
			<src>slide.xml</src>
		</slide>
		
	</slides>
	
</presentation>
