<?xml version="1.0" encoding="utf8"?>
<presentation>

	<setup>
		<slideWidth>400</slideWidth>
		<slideHeight>200</slideHeight>
		<advancePresentation>
			<timing><enabled>false</enabled></timing>
			<manual><click>true</click></manual>
		</advancePresentation>
		<debug>
			<showTitles>true</showTitles>
		</debug>
	</setup>
	
	<slides>
		
		<slide>
			<title>2 Key Points: Green to Blue</title>
			<background>
				<bgType>gradient</bgType>
				<keyPoints>
					<point>
						<color>0x00ee00</color>
					</point>
					<point>
						<color>0x0000ee</color>
					</point>
				</keyPoints>
			</background>
		</slide>
		
		<slide>
			<title>3 Key Points: Green to Blue to Red</title>
			<background>
				<bgType>gradient</bgType>
				<keyPoints>
					<point>
						<at>0</at>
						<color>0x00ee00</color>
					</point>
					<point>
						<at>0.5</at>
						<color>0x0000ee</color>
					</point>
					<point>
						<at>1</at>
						<color>0xee0000</color>
					</point>
				</keyPoints>
			</background>
		</slide>
		
		<slide>
			<title>...Rotated 30 degrees...</title>
			<background>
				<bgType>gradient</bgType>
				<rotation>30</rotation>
				<keyPoints>
					<point>
						<at>0</at>
						<color>0x00ee00</color>
					</point>
					<point>
						<at>0.5</at>
						<color>0x0000ee</color>
					</point>
					<point>
						<at>1</at>
						<color>0xee0000</color>
					</point>
				</keyPoints>
			</background>
		</slide>
		
		<slide>
			<title>...shifted with (50,20)...</title>
			<background>
				<bgType>gradient</bgType>
				<rotation>30</rotation>
				<translation>
					<x>50</x>
					<y>20</y>
				</translation>
				<keyPoints>
					<point>
						<at>0</at>
						<color>0x00ee00</color>
					</point>
					<point>
						<at>0.5</at>
						<color>0x0000ee</color>
					</point>
					<point>
						<at>1</at>
						<color>0xee0000</color>
					</point>
				</keyPoints>
			</background>
		</slide>
		
		<slide>
			<title>...alpha set to green=0.4, blue=0.6, red=0.8)...</title>
			<background>
				<bgType>gradient</bgType>
				<rotation>30</rotation>
				<translation>
					<x>50</x>
					<y>20</y>
				</translation>
				<keyPoints>
					<point>
						<at>0</at>
						<color>0x00ee00</color>
						<alpha>0.4</alpha>
					</point>
					<point>
						<at>0.5</at>
						<color>0x0000ee</color>
						<alpha>0.6</alpha>
					</point>
					<point>
						<at>1</at>
						<color>0xee0000</color>
						<alpha>0.8</alpha>
					</point>
				</keyPoints>
			</background>
		</slide>
		
		<slide>
			<title>...scale set to 40%.</title>
			<background>
				<bgType>gradient</bgType>
				<rotation>30</rotation>
				<translation>
					<x>50</x>
					<y>20</y>
				</translation>
				<scale>
					<x>0.4</x>
					<y>0.4</y>
				</scale>
				<keyPoints>
					<point>
						<at>0</at>
						<color>0x00ee00</color>
						<alpha>0.4</alpha>
					</point>
					<point>
						<at>0.5</at>
						<color>0x0000ee</color>
						<alpha>0.6</alpha>
					</point>
					<point>
						<at>1</at>
						<color>0xee0000</color>
						<alpha>0.8</alpha>
					</point>
				</keyPoints>
			</background>
		</slide>
		
	</slides>
	
</presentation>
