body {
    margin: 0;
    padding: 0;
    font-family: Verdana;
    font-size: 12px;
    background-color: #F3F3FF;
}

.manageTitle {
    background-color: #F3F3FF;
    border-bottom: 2px solid #D2D2FF;
    color: #424242;
    font-family: Arial;
    font-size: 24px;
    margin: 0;
    padding: 10px;
}

.footer {
    background-color: #F3F3FF;
    border-top: 2px solid #D2D2FF;
    padding: 10px 0;
}

#mainTabs {
    background: none repeat scroll 0 0 white;
}

.settingField {
    font-weight: bold;
    padding: 4px 10px;
    border: 1px solid #CCCCCC;
    color: #1C94C4;
}


.grayed_desc {
    font-style: italic;
    color: #525252;
    font-size: 12px;
    padding: 2px 0 0 20px;
}

.tbColor {
    width: 80px;
}

.tbNumber {
    width: 40px;
}

.btnPane {
    margin: 6px 60px 0 0; 
    padding: 5px 40px; 
    float:right;
}

.btnPane button {
    padding: 4px 8px;
    margin-left: 10px;
}

#slides {
    margin: 0px;
    padding: 0px;
}

#slides li.slideRoot {
    border: 1px solid #C2C2C2;
    display: block;
    margin: 4px;
    /*background-color: #FFFBE7;*/
    height: 126px;
    background-color: White;
    min-width: 900px;
    list-style-type: none;
}

.slideTabs {
    
}

.slideTabs li {
}


#slides .dragHandle {
    float: left;
    height: 100%;
    font-size: 10px;
    font-style: italic;
    color: #525252;
    width: 32px;
    background-color: #F7AE31;
    border-right: 1px solid #c2c2c2;
    cursor: move;
}

#slides .slideIndex {
    font-size: 30px;
    font-weight: bold;
    color: #424242;
}

#slides .slidePlaceholder {
    height: 80px;
    background-color: #f6e1bc;
    display: block;
    list-style-type: none;
}

#slides .pnlSlideOptGroups {
    float: left;
    padding: 0 0 0 16px;
    background-color: #f2f2ff;
    height: 100%;
    border-right: 1px solid #C2C2C2;
    width: 135px;
}


.slideOptsGroup {
    display: block;
    width: 120px;
    padding: 2px 10px;
    text-decoration: none;
    font-size: 12px;
    margin: 4px 0px 4px 4px;
    outline: 0px;
}

.pnlSlideOptGroups .ui-state-default {
    background: white;
}

.pnlSlideOptGroups .ui-state-hover {
    /*margin-left: 6px;
    border-right: 0px !important;*/
    width: 130px;
}

.pnlSlideOpts {
    float: left;
    display: none;
    padding: 0 40px;
}

.pnlSlideExtra {
    float: right;
    background-color: #f2f2ff;
    height: 100%;
    border-left: 1px solid #C2C2C2;
    margin-left: 2px;
    text-align: center;
    padding-left: 10px;
    width: 100px;
}

.slideExtraBtn {
    margin: 2px 8px;
    width: 80px;
}

.slideExtraBtn .ui-button-text {
    font-size: 12px;
    padding: 2px 7px;
}

.fieldRow {
    
    margin: 1px 10px 1px 0;
    padding: 0 4px;
    color: #1C94C4;
}

.fieldRowErr {
    background: none repeat scroll 0 0 #fa5252;
    color: White;
}

.pnlSlideOptsMp3, .pnlSlideOptsGeneral {
    margin-top: 15px;
}

.pnlSlideOptsContent {
    float: none;
}

.tbErr {
    background-color: Red;
}

.slideId, .objectId, .itemType {
    display: none;
}


.slideObject {
    display: block;
    list-style-type: none;
    float: left;
    width: 110px;
    padding-top: 56px;
    cursor: pointer;
    font-size: 12px;
    color: #1C94C4;
    margin: 0px 10px 0px 0;
    background-position: center 4px;
    background-repeat: no-repeat;
    border: 1px solid #f2f2f2;
    height: 20px;
}

.objPlaceholder {
    display: block;
    list-style-type: none;
    float: left;
    width: 110px;
    padding-top: 56px;
    cursor: pointer;
    font-size: 12px;
    color: #1C94C4;
    margin: 0px 10px 0px 0;
    border: 1px solid #f2f2f2;
    height: 20px;
    background-color: #FDF9E1;
}

.slideObjectHover {
    border: 1px solid #FBCB09;
    background-color: #FDF9E1;
}

.slideObjectSwf {
    background-image: url(img/swf.png);
}

.slideObjectImg {
    background-image: url(img/images.png);
}

.slideObjectText {
    background-image: url(img/html.png);
}

.btnAddObject .ui-button-text {
    font-size: 11px !important;
    padding: 2px 8px;
}

.ui-state-default {
    outline: 0;
}

#dlgObjectSettings {
    display: none;
    background: #ffffff none;
}

.ui-dialog, .ui-dialog-buttonpane {
    background: #ffffff none;
}


.objFieldRow td.hdr {
    margin: 1px 10px 1px 0;
    padding: 0 8px;
    font-weight: bold;
}

.objFieldRow td {
    color: #1C94C4;
}


#objSettingsTabs {
    height: 300px;
    border-width: 0px;
    background: White none;
}

#objSettingsTabs ul {
    background: White none;
    border-width: 0;
    border-bottom-width: 1px;
}

#ui-dialog-title-dlgObjectSettings {
    font-size: 14px;
}

.tbNumber {
    text-align: right;
}

.tbErr {
    background-color: #ff6666;
    color: White;
    font-weight:bold;
}

#slideObjErr {
    display: none;
    color: #ff2222;
    font-weight:bold;
}

.slideObjectDeleted {
    color: #626262;
    font-style:italic;
}

.rowSep td {
    font-size: 1px;
    background-color: #FDF9E1;
    border:1px solid #c2c2c2;
    padding: 0;
}

.rowSepGray td {
    font-size: 1px;
    background-color: #f6f6f6;
    border:1px solid #dadada;
    padding: 0;
}

.ui-state-disabled {
    color: #929292;
}


.dragObj {
    display: none;
    border: 1px solid #F7AE31;
    color: #727272;
    cursor: move;
    font-style: italic;
    margin: -54px 0 0 2px;
    padding: 2px;
    position: absolute;
}

.slideObjectHover .dragObj {
    display: block;
}

.slideObjectText .dragObj {
    display: none !important;
}
