<?xml version="1.0" encoding="utf8"?>
<presentation>

	<setup>
		<slideWidth>400</slideWidth>
		<slideHeight>200</slideHeight>
		
		<advancePresentation>
			<timing>
				<enabled>true</enabled>
				<defaultTiming>5000</defaultTiming>
			</timing>
			<manual><click>true</click></manual>
		</advancePresentation>
		<debug>
			<showTitles>true</showTitles>
		</debug>
	</setup>
	
	<slides>
		
		<slide>
			<title>Click to open google.com in same window</title>
			<background>
				<bgType>solid</bgType>
				<color>0xF8F091</color>
			</background>
			<link>http://google.com</link>
		</slide>
		
		<slide>
			<title>Click to open dnnsharp.com in new window</title>
			<background>
				<bgType>solid</bgType>
				<color>0xCFE7FB</color>
			</background>
			<link>
				<url>http://www.dnnsharp.com</url>
				<target>_blank</target>
			</link>
		</slide>
	</slides>
</presentation>
