<?xml version="1.0" encoding="utf8"?>
<presentation>

	<resources>
		<fonts>
			<font>
				<url>../../../fonts/MedievalSharp/MedievalSharp.swf</url>
				<symbols>
					<symbol>MedievalSharp</symbol>
				</symbols>
			</font>
		</fonts>
	</resources>
	
	<setup>
		<slideWidth>400</slideWidth>
		<slideHeight>200</slideHeight>
		<advancePresentation>
			<timing>false</timing>
			<manual><click>true</click></manual>
		</advancePresentation>
		<debug>
			<showTitles>true</showTitles>
		</debug>
	</setup>
	
	<slides>
		
		<slide>
			<title>No Styles</title>
			<background>
				<bgType>solid</bgType>
				<color>0xCFE7FB</color>
			</background>
			<objects>
				<object>
					<objType>text</objType>
					<content>
					<![CDATA[
						The quick brown fox jumps over the lazy dog
					]]>
					</content>
				</object>
			</objects>
		</slide>
		<slide>
			<title>Simple formatting: Bold, Italic, Underline</title>
			<background>
				<bgType>solid</bgType>
				<color>0xF0DE79</color>
			</background>
			
			<objects>
				<object>
					<objType>text</objType>
					<content>
					<![CDATA[
						Six <b>big juicy</b> steaks <i>sizzled in a pan</i> as <u>five workmen</u> left the quarry
					]]>
					</content>
				</object>
			</objects>
		</slide>
		<slide>
			<title>Font (size, color, face)</title>
			<background>
				<bgType>solid</bgType>
				<color>0xCFE7FB</color>
			</background>
			<objects>
				<object>
					<objType>text</objType>
					<content>
					<![CDATA[
						The <font size="30">quick</font> brown fox <font color="#FF0000">jumps</font> over the <font face="MedievalSharp">lazy dog</font>
					]]>
					</content>
				</object>
			</objects>
		</slide>
		<slide>
			<title>Text from external HTML File with Links</title>
			<background>
				<bgType>solid</bgType>
				<color>0xF0DE79</color>
			</background>
			<objects>
				<object>
					<objType>html</objType>
					<content><src>sample.html</src></content>
				</object>
			</objects>
		</slide>
	</slides>
</presentation>
