<?xml version="1.0" encoding="utf8"?>
<presentation>

	<setup>
		<slideWidth>400</slideWidth>
		<slideHeight>200</slideHeight>
	</setup>
	
	<slides>
		<slide>
			<title>Test Slide</title>
			<background>
				<bgType>solid</bgType>
				<color>0xFF0000</color>
			</background>
		</slide>
	</slides>
	
</presentation>
